div {
    background-color: skyblue;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

button{
    font-size: 20px;
}

.ep{
    background-color: white;
}